<!-- views/fruits/new.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit <%= cars.name%></title>
  </head>
  <body>
    <!-- views/fruits/new.ejs -->
    <a href="/cars/">Back to Cars</a>

    <h1>Create a New Car!</h1>
    <form action="/cars/<%= cars._id %>?_method=put" method="POST">
      <label for="name">Name:</label>
      <input type="text" name="name" id="name" value="<%= cars.name%>" />
      <label for="color">Color:</label>
      <input type="text" name="color" id="color" value="<%= cars.color%>" />
      <label for="model">Model:</label>
      <input type="text" name="model" id="model" value="<%= cars.model%>" />

      <button type="submit">Update The Car</button>
    </form>
  </body>
</html>
